{% extends 'base.html.twig' %}

{% block title %}Welcome to Movies!{% endblock %}

{% block body %}
<style>
</style>
{% for movie in movies %}
    <li>{{ movie }}</li>
{% endfor %}
{{ author }}
{% endblock %}
