{% extends 'base.html.twig' %}

{% block title %}Welcome to Movies!{% endblock %}

{% block body %}
<style>
</style>
    <h1 class="bg-blue-400 text-xl text-center font-bold">Movies Title</h1>
    {# The wrong way: #}
    {# <img src="{{ asset('images/river.jpg') }}" alt="" srcset=""> #}
    
    {# The right way: #}
    {# <img src="{{ asset('build/images/river.46521fe5.jpg') }}" alt=""> #}
{% endblock %}
