{% extends 'base.html.twig' %}

{% block title %}Welcome to Movies!{% endblock %}

{% block body %}
<style>
</style>
    <h1 class="bg-blue-400 text-xl text-center font-bold">Movies Title</h1>
    <img src="{{ asset('images/river.jpg') }}" alt="" srcset="">
{% endblock %}
